@charset "utf-8";
/* 20180124 by fanbo */
*{ margin:0; padding:0; }
body{ font-size: 16px; color: #333; font-family: '微软雅黑'; }
ul,li{ list-style: none; }
.clearfix:after {content: ""; display: block; width: 100%; height: 0; line-height: 0; overflow: hidden; clear: both; }
.w1200{ width: 1200px; margin:0 auto; }

a{ text-decoration: none; color:#fff; }

.f_l{ float: left; }
.f_r{ float: right; }

.dis_in_block{ display: inline-block; vertical-align: top; _display:inline; *zoom:1;}

.t_a_c{ text-align: center; }

.my_modal_bg{ position: fixed; background:rgba(0, 0, 0, 0.5)!important; filter:Alpha(opacity=.5); background:#000; display: none; top: 0; left: 0; bottom: 0; right: 0; z-index: 10;}

/* 修改出生地默认插件样式 */
#PoPy{ position: fixed !important; left: 0 !important; right: 0 !important; top: 0 !important; bottom: 0 !important; margin: auto; width: 568px!important; height: 295px !important; }
._citys{ width: auto; border: 0; padding: 0; background: #373d41; border-radius: 3px; display: block; }
._citys span {position: fixed; left: 0; right: 0; top: 0; bottom: 0; text-indent: -300px; border: 0; width: auto; height: auto; cursor: auto; text-align: left; overflow: hidden;}
.citySel,.AreaS{background-color: #2fffc4 !important; color: #0c7154 !important; }
._citys0,._citys1 {position: relative; z-index: 1; }
._citys0{ border-bottom-color: #2fffc4; border-top-left-radius: 3px; overflow: hidden; height: auto;}
._citys0 li{ height: 38px; line-height: 38px; }
._citys1{ padding-top:5px; min-height: 80px; }
._citys1 a {width: 83px; font-size: 14px; background: #282c2f; color: #dfe0e0; border-radius: 3px; margin: 5px 0 0 10px; }
._citys1 a:hover {color: #0c7154; background-color: #2fffc4; }

/*文字颜色*/
.co_red{ color:#f00;}
.co_blue{ color:#0099ff;}
.co_green{ color:#2fffc4; }
.co_orange{ color:#f16622; }
.co_333{ color:#333; }
.co_black{ color:#000; }
.co_j{ color:#daa319;}
.co_m{ color:#5b9b75;}
.co_s{ color:#7aa7b6;}
.co_h{ color:#ce9689;}
.co_t{ color:#c5a087;}

/*字号大小*/
.si_110{ font-size: 110%; }
.si_120{ font-size: 120%; }
.si_130{ font-size: 130%; }
.si_140{ font-size: 140%; }
.si_150{ font-size: 150%; }
.si_160{ font-size: 160%; }
.si_170{ font-size: 170%; }
.si_170{ font-size: 180%; }
.si_190{ font-size: 190%; }
.si_200{ font-size: 200%; }
/*文字水平对齐*/
.text_l{ text-align: left; }
.text_c{ text-align: center; }
.text_r{ text-align: right; }
/*通用*/
.dis_inblock{ display: inline-block; vertical-align: top; _display: inline; *zoom:1;}
.none{ display: none; }
/* 内边距 */
.pt5{ padding-top: 5px; }
.pt10{ padding-top: 10px; }
.pt15{ padding-top: 15px; }
.pt20{ padding-top: 20px; }
.pt25{ padding-top: 25px; }
.pt30{ padding-top: 30px; }
.pt40{ padding-top: 40px; }
.pt50{ padding-top: 50px; }
.pt100{ padding-top: 100px; }
.pr5{ padding-right: 5px; }
.pr10{ padding-right: 10px; }
.pr15{ padding-right: 15px; }
.pr20{ padding-right: 20px; }
.pr25{ padding-right: 25px; }
.pr30{ padding-right: 30px; }
.pr40{ padding-right: 40px; }
.pr50{ padding-right: 50px; }
.pr100{ padding-right: 100px; }
.pb5{ padding-bottom: 5px; }
.pb10{ padding-bottom: 10px; }
.pb15{ padding-bottom: 15px; }
.pb20{ padding-bottom: 20px; }
.pb25{ padding-bottom: 25px; }
.pb30{ padding-bottom: 30px; }
.pb40{ padding-bottom: 40px; }
.pb50{ padding-bottom: 50px; }
.pb100{ padding-bottom: 100px; }
.pl5{ padding-left: 5px; }
.pl10{ padding-left: 10px; }
.pl15{ padding-left: 15px; }
.pl20{ padding-left: 20px; }
.pl25{ padding-left: 25px; }
.pl30{ padding-left: 30px; }
.pl40{ padding-left: 40px; }
.pl50{ padding-left: 50px; }
.pl100{ padding-left: 100px; }
/* 外边距 */
.mt5{ margin-top: 5px; }
.mt10{ margin-top: 10px; }
.mt15{ margin-top: 15px; }
.mt20{ margin-top: 20px; }
.mt25{ margin-top: 25px; }
.mt30{ margin-top: 30px; }
.mt40{ margin-top: 40px; }
.mt50{ margin-top: 50px; }
.mt100{ margin-top: 100px; }
.mr5{ margin-right: 5px; }
.mr10{ margin-right: 10px; }
.mr15{ margin-right: 15px; }
.mr20{ margin-right: 20px; }
.mr25{ margin-right: 25px; }
.mr30{ margin-right: 30px; }
.mr40{ margin-right: 40px; }
.mr50{ margin-right: 50px; }
.mr100{ margin-right: 100px; }
.mb5{ margin-bottom: 5px; }
.mb10{ margin-bottom: 10px; }
.mb15{ margin-bottom: 15px; }
.mb20{ margin-bottom: 20px; }
.mb25{ margin-bottom: 25px; }
.mb30{ margin-bottom: 30px; }
.mb40{ margin-bottom: 40px; }
.mb50{ margin-bottom: 50px; }
.mb100{ margin-bottom: 100px; }
.ml5{ margin-left: 5px; }
.ml10{ margin-left: 10px; }
.ml15{ margin-left: 15px; }
.ml20{ margin-left: 20px; }
.ml25{ margin-left: 25px; }
.ml30{ margin-left: 30px; }
.ml40{ margin-left: 40px; }
.ml50{ margin-left: 50px; }
.ml100{ margin-left: 100px; }


/* 公共头部样式 */
.header{ color:#fff; background: #373d41;}
.header .logo{ padding-top: 22px; }
.header .logo img{}
.header .nav{ position: relative; }
.header .nav ul{ overflow: hidden;}
.header .nav li{ float: left; }
.header .nav li a{ color:#fff; display: block; line-height: 98px; padding:0 24px;}
.header .nav .line{ position: absolute; left: 0; top: 0; width: 80px; height: 3px; background: #2fffc4; }

/* 公共底部样式 */
.copy{ border-top:1px solid #353a3e; font-size: 14px; color:#e0e1e1; text-align: center; padding:30px 0; background: #373d41;}
.copy a{ color: #e0e1e1; font-size: 14px; margin: 0 6px;}
.copy a:hover{ color:#fff; }
.copy .links{ font-size: 0; padding-bottom: 10px;}

/* 名字排序 */
.sort{ padding:25px 0; }
.sort ul{ margin-left:-1px; }
.sort li{ float: left; }
.sort li a{ height: 38px; line-height: 38px; text-align: center; background:#fff; color:#373d41; border:1px solid #373d41; float: left; margin-left:-1px; padding:0 14px; font-size: 14px;}
.sort li span{}
.sort li i{ width: 14px; height: 8px; background: url(../images/page_icon.png) -162px -30px no-repeat; display: inline-block; _display: inline; vertical-align: top; *zoom:1; margin: 15px 0 0 5px; opacity: .2; }
.sort li.count{ position: relative; z-index: 1;}
.sort li.count .co_box{ position: absolute; left: -1px; top: 0px; background: #fff; min-width: 75px; border: 1px solid #373d41; display: none; }
.sort li.count .co_box a{ float: none; display: block; border: 0; text-align: left; white-space: nowrap; background: none; margin:0;}
.sort li.count .co_box a:hover,.sort li.count .co_box a.on{ background: #fafafa; }
.sort li.count.cur .co_box{ display: block;}
.sort li.on a{ background: #373d41; color:#fff; }

/* 右侧客服 */
.service{ background:#fff; width:240px;}
.service .tit{ background:#484a4d; color:#fff; font-size: 16px; font-weight: 700; padding:16px 13px;}
.service .tit i,.service .tit span,.service .con li i,.service .con li.tel span,.service .con li.tel b{ display: inline-block; _display: inline; *zoom:1; vertical-align: top;}
.service .tit i{ width: 26px; height: 20px; background: url(../images/page_icon.png) -156px -48px no-repeat;}
.service .tit span{ padding-left:10px; }
.service .con ul{ border:1px solid #eaeaea; border-top:0;}
.service .con li{ border-top:1px solid #eaeaea; padding:18px 19px;}
.service .con li i{ width: 37px; height: 37px; background: url(../images/page_icon.png) no-repeat;}
.service .con li.ma{ text-align: center; padding:32px 0 25px;}
.service .con li.ma img{ width: 135px; height: 135px; vertical-align: top;}
.service .con li.ma p{ font-size: 20px; color: #484a4d; line-height: 1.1; padding-top:10px;}
.service .con li.kf{ padding:0; }
.service .con li.kf a{ padding:18px 19px; display: block; line-height: 37px;}
.service .con li.kf i{ background-position: -109px 0;}
.service .con li.kf span{ color:#333; font-size: 18px; padding-left:10px;}
.service .con li.tel i{ background-position: -109px -47px;}
.service .con li.tel span{ padding-left:10px;}
.service .con li.tel p{font-size: 12px; line-height: 1.2; }
.service .con li.tel b{font-size: 20px; line-height: 1.1; padding-top:1px; }
.service.fixed{ position: fixed; top:0; z-index: 4;}

/* 五格图表 */
.wg_tu { font-size: 15px; }
.wg_tu .xian{ width: 15px; padding:20px 0; }
.wg_tu .text{ text-align: center; padding:0 10px;}
.wg_tu .text03{ padding: 20px 10px;}
.wg_tu .text04{ display: block; clear: both; border-top: 1px solid #999; text-align: center; padding:10px 0;}
.wg_tu .text p{ display: block; line-height: 40px; }
.wg_tu .text em{ line-height: 160px; font-style: normal;}
.wg_tu .xian em.line{ width: 14px; border:1px solid #999; float: left; margin: 2px 0;}
.wg_tu .xian01 em.line{ height: 114px; border-right:0;}
.wg_tu .xian02 em.line{ height: 34px; border-left:0;}

/* 周易卦象图像 */
.zygx{ color: #999; text-align: center; font-size: 15px; width: 668px; margin: 0 auto;}
.zygx ul{}
.zygx li{ float: left; }
.text_box{ padding: 19px 0 38px;}
.text_box span{ height: 33px; line-height: 33px; padding: 0 4px; margin-top: 8px; display: block;}
.kuang{ width: 10px; padding: 19px 10px 0;}
.kuang span{ height: 31px; width: 9px; border: 1px solid #e1e1e1; display: block; margin-top: 8px;}
.kuang_l span{ border-right:0;}
.kuang_r span{ border-left:0;}
.gx_box{ padding: 0 1px;}
.gx_tit{ margin-bottom: 5px;}
.gx_block{ width: 110px; overflow: hidden;}
.gx_block .gx_0,.gx_block .gx_1{ overflow: hidden; margin:0 -2px 4px;}
.gx_block span{ width: 53px; height: 10px; float: left; background: #666; margin: 0 2px;}
.gx_block .gx_1 span{ margin:0; width: 56px;}
.gx_block .gx_on span{ background: #f00;}

/* 时间选择 */
.datetime_selector{ position: fixed; top: 0; bottom: 0; left: 0; right: 0; border: 10px solid #373d41; border-bottom-width: 5px; box-shadow: 0 0 5px rgba(0,0,0,.25); z-index: 11; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background: #373d41; width: 600px; height: 254px; margin: auto; display: none;}
.datetime_selector .hd{ position: relative; text-align: right; padding: 5px; padding-top:10px; text-align: right;}
.datetime_selector .btn-ok{ display:inline-block; padding: 5px 20px; color: #0c7154; cursor: pointer; background: #2fffc4; border-radius: 4px; vertical-align:top; line-height:20px; font-size: 14px;}
.datetime_selector .btn-ok:hover{ opacity: .9; }
.datetime_selector .bd{ font-weight: normal; border-bottom: 1px solid #282c2f; overflow: hidden; }
.datetime_selector .bd dl{ width: 16.7336%; float: left; padding: 0 1px; border-left: 1px solid #282c2f; background:#313537; }
.datetime_selector .bd dl.item01{ width:30.7%; border:0;}
.datetime_selector .bd dt{ display: block; height: 26px; line-height: 26px; text-align: center; background: #282c2f; color: #fff; font-size: 14px;}
.datetime_selector .bd dd{ height: 170px; overflow-y: auto; margin: 6px 0; position:relative;}
.datetime_selector .bd dd::-webkit-scrollbar {width: 0px;}
.datetime_selector .bd dd label{ cursor:pointer; display:block; font-size: 14px;}
.datetime_selector .bd dd input{ display:none;}
.datetime_selector .bd dd span{ display: block; float: none; padding: 0; text-align: center; height: 34px; line-height: 34px; border-radius: 3px; color: #777; }
.datetime_selector .bd dd span:hover{ color: #fff; background: #373b3d;}
.datetime_selector .bd dd .on span{ background:#2fffc4; color:#0c7154;}

/*  */
.form_info{ padding-top: 50px; }
.form_info .input{ background:rgba(255, 255, 255, 0.1)!important; filter:Alpha(opacity=.1); background:#fff; display: block; padding:0 14px; font-size: 0; border-radius: 4px; margin-left:12px;}
.form_info i.icon{ background:url(../images/icon.png) no-repeat; display: inline-block; vertical-align: top; _display:inline; *zoom:1;}
.form_info .input input{ background: none; border:0; padding:19px 0; height: 20px; line-height: 20px; width: 65px; font-size: 16px; color:#e4e4e4; outline: 0;}
.form_info .input input::-webkit-input-placeholder { color:#e4e4e4;}
.form_info .input input:-moz-placeholder { color:#e4e4e4;}
.form_info .input input::-moz-placeholder { color:#e4e4e4;}
.form_info .input input:-ms-input-placeholder { color:#e4e4e4;}
.form_info .area .input{ margin-left:0; }
.form_info .area i.icon{ width: 23px; height: 29px; margin: 14px 10px 0 0;}
.form_info .copy_name i.icon{ width: 22px; height: 24px; background-position: 0 -157px; margin: 16px 9px 0 0;}
.form_info .copy_name input{ width: 155px; }
.form_info .industry i.icon{ width: 30px; height: 30px; background-position: 0 -39px; margin: 14px 9px 0 0;}
.form_info .industry input{ width: 170px; }
.form_info .user i.icon{ width: 24px; height: 27px; background-position: 0 -79px; margin: 15px 9px 0 0;}
.form_info .user label.input input{}
.form_info .copy_class{ text-align: left; position: relative;}
.form_info .copy_class .s_tit{ background: rgba(255, 255, 255, 0.1)!important; filter: Alpha(opacity=.1); background: #fff; display: block; padding: 0 14px; font-size: 0; border-radius: 4px; margin-left: 12px; }
.form_info .copy_class .s_tit p{ background: none; border: 0; padding: 19px 0; height: 20px; line-height: 20px; width: 65px; font-size: 16px; color: #e4e4e4; }
.form_info .copy_class .s_tit i{ width: 9px; height: 5px; background: url(../images/page_icon.png) -137px -88px no-repeat; margin: 27px 0 0 3px; }
.form_info .copy_class .options{ position: absolute; left: 12px; top: 65px; right: 0; text-align: left; background: #373d41; font-size: 14px; border-radius: 4px; padding: 5px 0; box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3); }
.form_info .copy_class .options label{ display: block; padding: 0 10px; line-height: 34px; cursor: pointer; color: #fff; margin-top: 1px; }
.form_info .copy_class .options label:hover,.form_info .copy_class .options label.on{ background: #4b5154; }
.form_info .submit{ overflow: hidden; }
.form_info .submit input{ background: #2fffc4; border-radius: 4px; font-size: 20px; font-weight: bold; text-align: center; line-height: 58px; border:0; color:#0c7154; padding:0 20px; cursor: pointer; float: left; margin-left:12px;}
.form_info .area,.form_info .industry,.form_info .user{ position: relative; z-index: 3;}
.select_box{ position: absolute; left: 0; top: 65px; background: #373d41; border-radius: 4px; width: 485px; padding: 15px 0 15px 15px; box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);}
.select_box .tit{float: left; width: 80px; background: #4b5154; color: #fff; margin-right: 10px; font-size: 14px; text-align: center; line-height: 26px; margin-top: 2px; border-radius: 2px; }
.select_box li{float: left; padding: 0 2px; line-height: 20px; font-size: 12px; color: #666; text-align: center; margin: 4px; cursor: pointer; }
.select_box li a:hover{ color:#2fffc4;}
.select_box.menu2{ width: 635px; left:12px; padding-bottom: 9px;}
.select_box.menu2 ul{ margin-bottom: 6px; }
.select_box.menu3{ left: 12px; padding-right: 15px; padding-bottom: 15px; width: 315px;}
.select_box.menu3 .close{ position: absolute; top: -7px; right: -9px; width: 22px; height: 22px; text-align: center; line-height: 22px; background: #000; border-radius: 50%;}
.select_box.menu3 .close:hover{ opacity: .85; }
.form_info .menu3 .item{ background: #282c2f; border-radius: 3px; font-size: 14px; margin-bottom: 10px;}
.form_info .menu3 .input{ margin:0; background: none !important; padding:0;}
.form_info .menu3 .input input{ font-size: 14px; padding:12px 14px; width: 177px;}
.form_info .menu3 .time .input input{ width: 223px;}
.form_info .menu3 .time.on .input input{ width: 147px;}
.form_info .menu3 .sub{ text-align: right; }
.form_info .menu3 .sub a{ display: inline-block; padding: 5px 20px; color: #0c7154; cursor: pointer; background: #2fffc4; border-radius: 4px; vertical-align: top; line-height: 20px; font-size: 14px;}
.form_info .menu3 .sub a:hover{opacity: .9;}
.form_info .menu3 .site .input input{ width: 169px;}
.form_info .menu3 .checked,.form_info .menu3 .check{ background:#232628; padding:0 14px 0 0;}
.form_info .menu3 .checked label,.form_info .menu3 .check label,.form_info .menu3 .select .s_tit{height: 20px; line-height: 20px; padding: 12px 0; float: left; margin-left: 14px; color:#fff;}
.form_info .menu3 .checked label i{width: 16px; height: 16px; background: #e2e2e2; float: left; border-radius: 50%; float: left; margin: 2px 4px 0 0;}
.form_info .menu3 .checked label.on,.form_info .menu3 .check label.on{ color: #2fffc4; }
.form_info .menu3 .checked label.on i{background: #2fffc4; position: relative; }
.form_info .menu3 .checked label.on em,.form_info .menu3 .check label.on em{width: 10px; height: 8px; background: url(../images/gou.png) no-repeat; position: absolute; left: 0; right: 0; top: 0; bottom: 0; margin: auto; }
.form_info .menu3 .check label i{ width: 12px; height: 12px; border-radius: 0; border: 2px solid #e2e2e2; background: #232628; float: left; margin: 2px 4px 0 0;}
.form_info .menu3 .check label.on i{ position: relative; border-color:#2fffc4;}
.form_info .menu3 .select{ position: relative; margin-right: 4px; z-index: 1;}
.form_info .menu3 .select .s_tit{ position: relative; font-size: 0; margin: 0; color:#2fffc4; cursor: pointer; padding:12px 10px;}
.form_info .menu3 .select .s_tit i,.form_info .menu3 .select .s_tit p,.form_info .copy_class .s_tit p,.form_info .copy_class .s_tit i{ display: inline-block; _display: inline; vertical-align: top; *zoom:1;}
.form_info .menu3 .select .s_tit i{ width: 9px; height: 5px; background: url(../images/page_icon.png) -137px -88px no-repeat; margin: 7px 0 0 3px;}
.form_info .menu3 .select .s_tit p{ font-size: 14px; }
.form_info .menu3 .select .options{ position: absolute; left: 0; top: 38px; right: 0; text-align: left; background: #232628; border-radius: 3px; padding:5px 0;}
.form_info .menu3 .select .options label {display: block; padding: 0 10px; line-height: 34px; cursor: pointer; color:#fff; margin-top:1px;}
.form_info .menu3 .select .options label:hover,.form_info .menu3 .select .options label.on{ background: #2c2f30; }
.form_info .menu3 .select .options label.on{ color: #2fffc4;}
.form_info .menu3 .select.on .options {display: block; }
.match {position: absolute; left: 0; right: 0; top: 65px; background: #373d41; border-radius: 4px; padding: 5px 0; text-align: left; box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3); }
.match li{ padding-top:1px; }
.match li a {padding: 0 15px; display: block; height: 30px; line-height: 30px; font-size: 12px; }
.match li a:hover,.match li.active a {background: #41474b; }
.industry .match{ left: 12px; }

/* 翻页 */
.page_box{ text-align: center; }
.page_box ul {display: inline-block; _display: initial; *zoom: 1; vertical-align: top; }
.page_box li {float: left; padding: 0 2px; }
.page_box li a, .page_box li span {padding: 0 13px; border: 1px solid #e1e1e1; background: #fff; height: 34px; line-height: 34px; float: left; color: #333; font-size: 14px; border-radius: 3px; }
.page_box li a:hover{ background: #fcfcfc; }
.page_box li span {background: #00b576; border-color: #00b576; color: #fff; }

/* point 提示层 */
.point{ position: fixed; padding: 12px 25px; height: 24px; line-height: 24px; font-size: 14px; color: #fff; background: rgba(0, 0, 0, .6); border-radius: 3px; z-index: 10001; visibility: hidden; opacity: 0; -webkit-transform: scale(.2); -moz-transform: scale(.2); transform: scale(.2); -webkit-transition: all .2s; -moz-transition: all .2s; transition: all .2s;}
.point.show{ visibility: visible; opacity: 1; -webkit-transform: scale(1); -moz-transform: scale(1); transform: scale(1);}